<div class="main">
  <div class="mycalc">
    <h1>Angular Calculator by Ananthula,Vineeth Kumar</h1>
    <input #box (keyup.enter)="calcValue(box.value)" [(ngModel)]="show" type="text">
    <div class="all-btn">
      <div class="all-btn-numbers">
        <button (click)="displayInput('1')">1</button>
        <button (click)="displayInput('2')">2</button>
        <button (click)="displayInput('3')">3</button>
        <button (click)="displayInput('4')">4</button>
        <button (click)="displayInput('5')">5</button>
        <button (click)="displayInput('6')">6</button>
        <button (click)="displayInput('7')">7</button>
        <button (click)="displayInput('8')">8</button>
        <button (click)="displayInput('9')">9</button>
        <button (click)="displayInput('0')">0</button>
        <div class="div btn-extra">
          <button (click)="displayInput('.')">.</button>
          <button (click)="goBack()">back</button>
        </div>
      </div>
    <div class="all-btn-signs">
      <button (click)="displayInput('+')">+</button>
      <button (click)="displayInput('-')">-</button>
      <button (click)="displayInput('*')">*</button>
      <button (click)="displayInput('/')">/</button>
      <button (click)="displayInput('**')">**</button>
    </div>
  </div>
    <div class="btn-clear-equals">
      <button id="clear" (click)="clearData()">C</button>
      <button id="equals" (click)="getResult()">=</button>
    </div>
  </div>
</div>